doctype html              
html.
	<head>
	<meta http-equiv="refresh" content="0;url=views/index.html">
	<title>IRC Admin</title>
	<script language="javascript">
	    window.location.href = "views/index.html"
	</script>
	</head>
	<body>
	Go to <a href="views/index.html">/pages/index.html</a>
	</body>
	</html>
