html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        title Rescue Admin
        // Bootstrap Core CSS
        link(href='./vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        // MetisMenu CSS
        link(href='./vendor/metisMenu/metisMenu.min.css', rel='stylesheet')
        // Custom CSS
        link(href='./dist/css/sb-admin-2.css', rel='stylesheet')
        // Morris Charts CSS
        link(href='./vendor/morrisjs/morris.css', rel='stylesheet')
        // Custom Fonts
        link(href='./vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
            script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
            script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    body
        #wrapper
            // Navigation
            nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='index.html') Rescue Admin
                // /.navbar-header
                ul.nav.navbar-top-links.navbar-right
                    li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown', href='#')
                            i.fa.fa-user.fa-fw
                            i.fa.fa-caret-down
                        ul.dropdown-menu.dropdown-user
                            li
                                a(href='#')
                                    i.fa.fa-user.fa-fw
                                    |  User Profile
                            li
                                a(href='#')
                                    i.fa.fa-gear.fa-fw
                                    |  Settings
                            li.divider
                            li
                                a(href='login.html')
                                    i.fa.fa-sign-out.fa-fw
                                    |  Logout
                        // /.dropdown-user
                    // /.dropdown
                // /.navbar-top-links
                .navbar-default.sidebar(role='navigation')
                    .sidebar-nav.navbar-collapse
                        ul#side-menu.nav
                            li
                                a(href='/communication')
                                    i.fa.fa-comments.fa-fw
                                    |  Communication
                            li
                                a(href='/analysis')
                                    i.fa.fa-line-chart.fa-fw
                                    |  Analysis
                            li
                                a(href='/organization')
                                    i.fa.fa-users.fa-fw
                                    |  Organization
                    // /.sidebar-collapse
                // /.navbar-static-side
            #page-wrapper
                .row
                    .col-lg-12
                        h1.page-header #{title}
                    // /.col-lg-12
                // /.row
                
                // CODE GOES HERE

                .row
                .col-lg-12
                    .panel.panel-default
                        .panel-body
                            table#dataTables-example.table.table-striped.table-bordered.table-hover(width='100%')
                                thead
                                    tr
                                        th User ID
                                        th First Name
                                        th Last Name
                                        th Phone #
                                        th Email
                                        th Last Response
                                tbody
                                    tr.odd.gradeX
                                        td 0x0001
                                        td Abra
                                        td Cadabra
                                        td.center 090-000-0000
                                        td.center sshhhha@sss.com
                                        td.center 12:20pm 10/17
                                    tr.even.gradeC
                                        td 0x0001
                                        td Abra
                                        td Cadabra
                                        td.center 090-000-0000
                                        td.center sshhhha@sss.com
                                        td.center 12:20pm 10/17
                                    tr.odd.gradeA
                                        td 0x0001
                                        td Abra
                                        td Cadabra
                                        td.center 090-000-0000
                                        td.center sshhhha@sss.com
                                        td.center 12:20pm 10/17
                                    tr.even.gradeA
                                        td 0x0001
                                        td Abra
                                        td Cadabra
                                        td.center 090-000-0000
                                        td.center sshhhha@sss.com
                                        td.center 12:20pm 10/17
                                    tr.odd.gradeA
                                        td 0x0001
                                        td Abra
                                        td Cadabra
                                        td.center 090-000-0000
                                        td.center sshhhha@sss.com
                                        td.center 12:20pm 10/17
                                    tr.even.gradeA
                                        td 0x0001
                                        td Abra
                                        td Cadabra
                                        td.center 090-000-0000
                                        td.center sshhhha@sss.com
                                        td.center 12:20pm 10/17
                                    tr.gradeA
                                        td 0x0001
                                        td Abra
                                        td Cadabra
                                        td.center 090-000-0000
                                        td.center sshhhha@sss.com
                                        td.center 12:20pm 10/17
                            // /.table-responsive
                            .well
                        // /.panel-body
                    // /.panel
                // /.col-lg-12



                // ----CODE ENDS HERE----


            // /#page-wrapper
        // /#wrapper
        // jQuery
        script(src='./vendor/jquery/jquery.min.js')
        // Bootstrap Core JavaScript
        script(src='./vendor/bootstrap/js/bootstrap.min.js')
        // Metis Menu Plugin JavaScript
        script(src='./vendor/metisMenu/metisMenu.min.js')
        // Custom Theme JavaScript
        script(src='./dist/js/sb-admin-2.js')

